# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
backend/test.py

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
